/* 顶部导航样式 */
.header{
    height: 28px;
    line-height: 28px;
    background-color: #f5f5f5;
}
.header-l select {
    border: 0;
    background-color: #f5f5f5;
}
.header-r > ul > li {
    float: left;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    box-sizing: border-box;
}
.header-r li a:hover{
    color: #f10180;
}
.wp-sign {
    position: relative;
}
.wp-sign:hover .day{
    display: block;
}
.wp-sign .day {
    position: absolute;
    left: -201px;
    height: 27px;
    /* 隐藏 */
    display: none;
    width: 402px;
    height: 152px;
    padding: 0 29px;
    border: 1px solid #dbdada;
    background-color: #fff;
    text-align: center;
    z-index: 100;
}
.day .day-sign {
    height: 60px;
    padding-top: 44px;
    border-bottom: 1px solid #f0f0f0;
}
.day-sign .start {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url(../img/sprites.png) no-repeat -244px -184px;
    vertical-align: middle;
}
.day-sign .center {
    display: inline-block;
    width: 24px;
    height: 17px;
    background: url(../img/sprites.png) no-repeat -216px -184px;
    vertical-align: middle;
}
.day-sign .end {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url(../img/sprites.png) no-repeat -193px -184px;
    vertical-align: middle;
}
.day-sign .lineae {
    display: inline-block;
    width: 41px;
    height: 2px;
    background-color: #ccc;
    vertical-align: middle;
}
.day-sign span:nth-child(n+2) {
    margin: -1px 0 0 -5px;
}
.day-sign .num span {
    color:#666;
    margin-right: 44px;
}
.day-sign .num span:last-child {
    margin-right: 0;
}
.day p {
    margin-top: 10px;
}
.day p a {
    float: left;
    line-height: 24px;
    text-decoration: underline;
}
.day p button {
    float: right;
    width: 72px;
    height: 24px;
    line-height: 24px;
    background-color: #f10180;
    color: #fff;
    border: 0;
    outline: 0;
}
.mysty{
    background-color: #fff;
    border: 1px solid #ccc;
}
.header-r .my {
    position: relative;
    width: 80px;
    padding-left: 10px;
}
.header-r .search {
    position: relative;
    width: 95px;
    padding-left: 12px;
}
.header-r .club {
    position: relative;
    width: 95px;
    padding-left: 10px;
}
.header-r .my ul {
    display: none;
    position: absolute;
    left: -1px;
    width: 80px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 10;
}
.header-r .search ul, .header-r .club ul  {
    display: none;
    position: absolute;
    left: -1px;
    width: 93px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 10;
}

.header-r em {
    float: left;
    padding: 0 10px;
}
.header-r i { 
    display: inline-block;
    vertical-align: bottom;
}
.many {
    position: relative;
    width: 70px;
    z-index: 200;
}
.many-show {
    border: 1px solid #ccc;
    background-color: #fff;
}
.header-r .many-i {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    /* display: inline-block; */
    width: 68px;
    height: 1px;
    z-index: 300;
    background-color: #fff;
}
.many ul {
    display: none;
    position: absolute;
    left: -231px;
    top: 25px;
    width: 300px;
    height: 165px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
    
}
.many ul li {
    width: 255px;
    height: 70px;
    text-align: left;
}
.many ul li a {
    margin-right: 10px;
}
.many ul li h4 {
    font-weight: 700;
}
.many ul li:first-child{
    border-bottom: 1px solid #ccc;
}
.phone {
    position: relative;
}
.chat-shouji {
    position: absolute;
    left: -17px;
    display: none;
    border: 1px solid #ccc;
    border-top: 0;
    box-shadow: 0 2px 1px 1px #ccc;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
}
.chat-shouji img {
    width: 160px;
    height: 160px;
}
/* 搜索区域 */
.top-nav {
    height: 100px;
    margin-top: 20px;
}
.nav-l img{
    width: 160px;
}
.nav-r {
    margin-top: 10px;
}
.nav-r i {
    display: inline-block;
    width: 95px;
    height: 50px;
    background: url(../img/1547114272497.png) no-repeat 3px -12px;
    background-size: 304px, 100px;
}
.nav-r .one {
    background: url(../img/1547114272497.png) -97px -12px;
    background-size: 304px, 100px;
}
.nav-r .two {
    background: url(../img/1547114272497.png) -192px -12px;
    background-size: 304px, 100px;
}
.nav-inps input {
    width: 396px;
    height: 32px;
    border: 1px solid #fa2a83;
    border-right: 0;
}
.nav-inps{
    position: relative;
    width: 451px;
    height: 34px;
    margin-top: 34px;
    margin-left: 140px;
}
.nav-inps a {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 54px;
    height: 34px;
    line-height: 34px;
    background-color: #fa2a83;
    text-align: center;
}
.nav-inps input {
    padding-left: 10px;
}
.nav-shop {
    width: 94px;
    height: 32px;
    background-color: #f6f7f9;
    border: 1px solid #ccc;
    margin-top: 34px;
    text-align: center;
}
.nav-shop img {
    margin-left: 5px;
}
.nav-shop i {
    display: inline-block;
    width: 24px;
    height: 15px;
    background-color: #fa2a83;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    margin-top: 10px;
}
/* 商品分类列表 */
.list {
    position: relative;
    height: 44px;
}
.shop-list {
    position: absolute;
    width: 156px;
    line-height: 44px;
    font-size: 16px;
    color: #fff;
    background-color: #f10180;
}
.list-menu {
    display: none;
    z-index: 10;
    border-bottom: 1px solid #f10180;
}
.list-fenlei {
    margin-left: 120px;
}
.list-fenlei ul {
    margin-left: 40px;
}
.list-fenlei li {
    float: left;
    height: 44px;
    line-height: 44px;
    margin-left: 30px;
    font-size: 16px;
}
.list-fenlei .pink1 {
    font-weight: 700;
    color: #f10180;
}
.list-fenlei ul li a:hover {
    color: #f10180;
}
.more {
    position: absolute;
    right: 180px;
    top: 0;
    width: 75px;
    background-color: #fff;
    margin-top: 10px;
}
.more-a {
    height: 33px;
    
}
.more i {
    display: inline-block;
    width: 11px;
    height: 9px;
    margin-left: 5px;
    background: url(../img/detail_imgs_png8-hash-753fd810.png-f874f25a.png) 0 -399px;
}
.more a {
    font-size: 16px;
}
.more ul {
    display: none;
    margin: 0;
    
}
.more ul li {
    float: none;
    margin: 0;
}
/* 底部 */
.footer {
    font-size:12px;
    display:block;
    clear:both;
    overflow:hidden;
    line-height:22px;
    padding-top:0;
    border-top:1px solid #ebebeb;
    background-color:#fcfcfc;
    color:#4d4d4d
}
.footer li {
    list-style:none
}
.footer dd,.footer dl,.footer dt {
    margin:0;
    padding:0
}
.footer a {
    color:grey;
    text-decoration:none
}
.footer a:hover {
    color:#f10180
}
.footer-inner {
    width:1172px;
    margin:0 auto;
    overflow:hidden
}
.footer-vip {
    overflow:hidden
}
.footer-vip li {
    float:left
}
.footer-vip i {
    display:block;
    margin-top:30px;
    margin-right:54px;
    margin-left:10px;
    width:58px;
    height:75px;
    font-size:0;
    text-indent:-100%
}
.footer-vip .footer-vip-ico10 {
    margin-right:0
}
.footer-vip-ico01,.footer-vip-ico02,.footer-vip-ico03,.footer-vip-ico04,.footer-vip-ico05,.footer-vip-ico06,.footer-vip-ico07,.footer-vip-ico08,.footer-vip-ico09,.footer-vip-ico10 {
    background:url('../img/footer_vip_iconsv_0705-hash-728f749a.png') no-repeat 0 0
}
.footer-vip-ico01 {
    background-position:0 0
}
.footer-vip-ico02 {
    background-position:-80px 0
}
.footer-vip-ico03 {
    background-position:-160px 0
}
.footer-vip-ico04 {
    background-position:-240px 0
}
.footer-vip-ico05 {
    background-position:-320px 0
}
.footer-vip-ico06 {
    background-position:-400px 0
}
.footer-vip-ico07 {
    background-position:-480px 0
}
.footer-vip-ico08 {
    background-position:-560px 0
}
.footer-vip-ico09 {
    background-position:-640px 0
}
.footer-vip-ico10 {
    background-position:-720px 0
}
.footer-list {
    overflow:hidden;
    zoom:1;
    margin:37px 0 25px;
    line-height:20px
}
.footer-list dl {
    float:left;
    width:145px;
    height:146px;
    margin-left:50px;
    border-right:1px solid #e0e0e0
}
.footer-list .last {
    border-right:0;
    display:block
}
.footer-list dt {
    margin-bottom:4px;
    color:#4d4d4d
}
.footer-list dd {
    /* padding-left:8px; */
    background:url('../img/footer_vip_iconsv_0705-hash-728f749a.png') no-repeat -6px -494px
}
.footer-list dd:hover {
    background-position:-6px -513px
}
.footer-list .ml0 {
    margin-left: 0;
}
.footer-list .tc {
    padding-left:0;
    width:136px;
    text-align:center
}
.footer-list .tc dd {
    background:0 0;
    padding-left:0
}
.footer-list .link-anim dd {
    transition:transform ease-out .2s;
}
.footer-list .link-anim dd:hover {
    transform:translateX(2px)
}
.footer-infor {
    text-align:center;
    color:#fff;
    margin-bottom:0
}
.footer-infor-link {
    background-color:#d7237e;
    line-height:30px
}
.footer-infor-link a {
    margin-left:2px;
    margin-right:2px;
    color:#fff
}
.footer-infor-link a:hover {
    color:#ccc
}
.footer-infor-txt {
    color:#999;
    margin:14px 0;
    line-height:19px
}
.footer-ft {
    padding:4px 0 4px;
    background-color:#fff
}
.footer-img {
    width:1000px;
    margin:0 auto;
    text-align:center;
    height:40px;
    padding:4px 0 4px 0;
    background-color:#fff
}
.footer-pic {
    margin:0 auto;
    width:960px;
    height:40px;
    text-align:center;
    overflow:hidden
}
.footer-pic-ico01,.footer-pic-ico02,.footer-pic-ico03,.footer-pic-ico04,.footer-pic-ico05,.footer-pic-ico06,.footer-pic-ico07,.footer-pic-ico08,.footer-pic-ico09,.footer-pic-ico10 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-right:9px;
    height:40px;
    background-image:url('../img/footer-hash-3de6f1ae.png');
    background-repeat:no-repeat
}
.footer-pic-ico01 {
    width:105px;
    background-position:0 0
}
.footer-pic-ico02 {
    width:90px;
    background-position:0 -50px
}
.footer-pic-ico03 {
    width:90px;
    background-position:0 -100px
}
.footer-pic-ico04 {
    width:99px;
    background-position:0 -150px
}
.footer-pic-ico05 {
    width:66px;
    background-position:0 -200px
}
.footer-pic-ico06 {
    width:70px;
    background-position:0 -250px
}
.footer-pic-ico07 {
    width:75px;
    background-position:0 -300px
}
.footer-pic-ico08 {
    width:89px;
    background-position:0 -350px
}
.footer-pic-ico09 {
    width:76px;
    background-position:0 -400px
}
.footer-pic-ico10 {
    width:76px;
    background-position:0 -450px
}

.M_qrcode {
     position:fixed;
     width:140px;
     height:270px;
     left:50%;
     top:50%;
     margin:-185px 0 0 -650px;
     display:none
 }
.ue_survey {
    position:fixed;
    right:56px;
    bottom:0;
    width:35px;
    height:110px;
    overflow:hidden
}
.ue_survey a {
    display:block
}
/* 商品分类下拉 */
.detail-all {  
    display: none;
    position: absolute;
    left: 156px;
    top: 45px;
    width: 1020px;
    height: 484px;
    /* background-color: pink; */
    background-color: #fff;
    font-size: 12px;
    z-index: 1;
}
.detail {
    display: none;
}
.detail .left {
    width: 567px;
    margin: 0 36px;
}
.detail .left li {
    padding: 5px 0;
    /* background-color: yellowgreen; */
    border-bottom: 1px solid #eee;
}
.detail .left li:last-child {
    border-bottom: none;
}
.detail .left .sum {
    width: 85px;
    line-height: 22px;
    color: #222;
}
.detail .left .classify {
    width: 474px;
    padding-left: 8px;
    line-height: 22px;
}
.detail .left .classify a{
    color: #666;
}
.detail .left .classify a:hover {
    color: #f10180;
}
.detail .right img {
    height: 484px;
    margin-right: -29px;
}