
.banner{
    background: url(../images/01ban.jpg) center no-repeat;
    width: 100%;
    height: 280px;
    
}
.b-pic{
    background: url(../images/01m.jpg) center no-repeat;
    width: 100%;
    height: 86px;
}

.pp-ban{
    background: url(../images/02middle.png) center no-repeat;
    width: 100%;
    height: 86px;
}

.ss-ban{
    background: url(../images/ss.jpg) center no-repeat;
    width: 100%;
    height: 120px;
}
.gj-ban{
    background: url(../images/gj.jpg) center no-repeat;
    width: 100%;
    height: 120px;
}
.zg-ban{
    background: url(../images/zg.jpg) center no-repeat;
    width: 100%;
    height: 120px;
}
.jx-ban{
    background: url(../images/jx.jpg) center no-repeat;
    width: 100%;
    height: 120px;
}
  


/* 左边侧边导航栏区域 */
.fix-nav {
    position: fixed;
    top:0;
    left: 5%;
    /* margin-left: -800px; */
    width: 104px;
    text-align: center;
    display: none;
}

.fix-nav .fix-bot li{
    height: 40px;
    line-height: 40px;
    margin :0 10px ;
    border-bottom: 1px solid #000;
}
.fix-bot{
    background-color:#303030;
}
.fix-bot li a{
    color: #fff;
    font-size: 14px;
}

.fix-bot li:hover a{
    color: yellow;
}


/* 右边电梯导航 */

.dt-nav {
    position: fixed;
    top:200px;
    right: 5%;
    width: 104px;
    text-align: center;
    /* display: none; */
    background-color:#303030;
}

.dt-nav li{
    height: 40px;
    line-height: 40px;
    margin :0 10px ;
    border-bottom: 1px solid #000;
}

.dt-nav li a{
    color: #fff;
    font-size: 14px;
}

.current{
    background-color:hotpink ;
}




/* 倒计时区域 */
.jsq{
     height: 60px;
     background-color: black;
     color: #fff;
     line-height: 60px;
     font-size: 21px;
}

.jsq span:nth-child(2n+1){
    color:#ffa11a;
    font-size: 30px;

}
/* 中间图片展示区域 */
.content li{
   position: relative;
    width: 226px;
    height:453px;
    float: left;
    border:1px solid #666;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}
.content li:hover{
    border:1px solid #f10180;

}
.content li:hover .yd{
   background-color: #f10180;
   color: #fff;
    
}
.content li>img{

    width: 226px;
    height: 288px;
  
}
.content .con-img{
    position: absolute;
    top: 258px;
    left: 52px;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border:1px solid #ccc;
}
.content .con-img img{
   margin:5px 10px;
    width: 80px;
    height: 40px;
}

.content .m0{
   margin-right: 0;
}
.content h3{
    font-size: 20px;
    margin-top: 56px;
}
.content p{
    font-size: 12px;
    color:#f10180;
}
.content h4{
    color:#666666;
    font-size:12px;
}
.content div{
    width: 196px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f10180;
    font-size: 16px;
    border: 1px solid #f10180;
    margin-left: 10px;
}
/* 底部图片区域 */
.footer-b img{
    width: 100%;
}
.footer-b p{
    font-size:20px;
}
.footer-t{
    background-color: #faede2;
}
.footer-t .top1{
    margin-bottom: 5px;
}
.footer-t .top1 img{
    border-radius: 15px;
}


.footer {
    font-size:12px;
    display:block;
    clear:both;
    overflow:hidden;
    line-height:22px;
    padding-top:0;
    border-top:1px solid #ebebeb;
    background-color:#fcfcfc;
    color:#4d4d4d
}
.footer li {
    list-style:none
}
.footer dd,.footer dl,.footer dt {
    margin:0;
    padding:0
}
.footer a {
    color:grey;
    text-decoration:none
}
.footer a:hover {
    color:#f10180
}
.footer-inner {
    width:1000px;
    margin:0 auto;
    overflow:hidden
}
.footer-vip {
    overflow:hidden
}
.footer-vip li {
    float:left
}
.footer-vip i {
    display:block;
    margin-top:30px;
    margin-right:28px;
    margin-left:10px;
    width:58px;
    height:75px;
    font-size:0;
    text-indent:-100%
}
.footer-vip .footer-vip-ico10 {
    margin-right:0
}
.footer-vip-ico01,.footer-vip-ico02,.footer-vip-ico03,.footer-vip-ico04,.footer-vip-ico05,.footer-vip-ico06,.footer-vip-ico07,.footer-vip-ico08,.footer-vip-ico09,.footer-vip-ico10 {
    background:url('../img/footer_vip_iconsv_0705-hash-728f749a.png') no-repeat 0 0
}
.footer-vip-ico01 {
    background-position:0 0
}
.footer-vip-ico02 {
    background-position:-80px 0
}
.footer-vip-ico03 {
    background-position:-160px 0
}
.footer-vip-ico04 {
    background-position:-240px 0
}
.footer-vip-ico05 {
    background-position:-320px 0
}
.footer-vip-ico06 {
    background-position:-400px 0
}
.footer-vip-ico07 {
    background-position:-480px 0
}
.footer-vip-ico08 {
    background-position:-560px 0
}
.footer-vip-ico09 {
    background-position:-640px 0
}
.footer-vip-ico10 {
    background-position:-720px 0
}
.footer-list {
    overflow:hidden;
    zoom:1;
    margin:37px 0 25px;
    line-height:20px
}
.footer-list dl {
    float:left;
    width:145px;
    height:146px;
    padding-left:16px;
    border-right:1px solid #e0e0e0
}
.footer-list .last {
    border-right:0;
    display:block
}
.footer-list dt {
    margin-bottom:4px;
    color:#4d4d4d
}
.footer-list dd {
    padding-left:8px;
    background:url('../img/footer_vip_iconsv_0705-hash-728f749a.png') no-repeat -6px -494px
}
.footer-list dd:hover {
    background-position:-6px -513px
}
.footer-list .tc {
    padding-left:0;
    width:136px;
    text-align:center
}
.footer-list .tc dd {
    background:0 0;
    padding-left:0
}
.footer-list .link-anim dd {
    transition:transform ease-out .2s;
}
.footer-list .link-anim dd:hover {
    transform:translateX(2px)
}
.footer-infor {
    text-align:center;
    color:#fff;
    margin-bottom:0
}
.footer-infor-link {
    background-color:#d7237e;
    line-height:30px
}
.footer-infor-link a {
    margin-left:2px;
    margin-right:2px;
    color:#fff
}
.footer-infor-link a:hover {
    color:#ccc
}
.footer-infor-txt {
    color:#999;
    margin:14px 0;
    line-height:19px
}
.footer-ft {
    padding:4px 0 4px;
    background-color:#fff
}
.footer-img {
    width:1000px;
    margin:0 auto;
    text-align:center;
    height:40px;
    padding:4px 0 4px 0;
    background-color:#fff
}
.footer-pic {
    margin:0 auto;
    width:960px;
    height:40px;
    text-align:center;
    overflow:hidden
}
.footer-pic-ico01,.footer-pic-ico02,.footer-pic-ico03,.footer-pic-ico04,.footer-pic-ico05,.footer-pic-ico06,.footer-pic-ico07,.footer-pic-ico08,.footer-pic-ico09,.footer-pic-ico10 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-right:9px;
    height:40px;
    background-image:url('../img/footer-hash-3de6f1ae.png');
    background-repeat:no-repeat
}
.footer-pic-ico01 {
    width:105px;
    background-position:0 0
}
.footer-pic-ico02 {
    width:90px;
    background-position:0 -50px
}
.footer-pic-ico03 {
    width:90px;
    background-position:0 -100px
}
.footer-pic-ico04 {
    width:99px;
    background-position:0 -150px
}
.footer-pic-ico05 {
    width:66px;
    background-position:0 -200px
}
.footer-pic-ico06 {
    width:70px;
    background-position:0 -250px
}
.footer-pic-ico07 {
    width:75px;
    background-position:0 -300px
}
.footer-pic-ico08 {
    width:89px;
    background-position:0 -350px
}
.footer-pic-ico09 {
    width:76px;
    background-position:0 -400px
}
.footer-pic-ico10 {
    width:76px;
    background-position:0 -450px
}

.M_qrcode {
    position:fixed;
    width:140px;
    height:270px;
    left:50%;
    top:50%;
    margin:-185px 0 0 -650px;
    display:none
}
.ue_survey {
    position:fixed;
    right:56px;
    bottom:0;
    width:35px;
    height:110px;
    overflow:hidden
}
.ue_survey a {
    display:block
}
